body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.recipe-card {
  width: auto;
  height: auto;
  border: 3px black
}

.recipe-card-content {
  padding: 20px;
}

.instructions {
  font-size: x-small;
}

.ingredients {
  font-size: x-small;
}

.image {
  max-width: 100px; 
  height: 100px; 
  width: auto; 
}

.veg-image {
  max-width: 100px; 
  height: 100px; 
  width: auto; 
}